.webixappstart{
    opacity:0;
}
.webixapp{
    transition: opacity 500ms;
    opacity: 1;
}

/*data loading status*/
.status_good, .status_error, .status_saving{
	text-align: center;
	margin-left:-12px;
}
.status_error{
	color:red;
}
.status_good{
	color:green;
}

/*login form*/
.invalid_login .webix_header > div{
    background: #FC3636;
    transition: background 1s;
}
.invalid_login{
    -webkit-animation: formshake .5s linear;
}
@-webkit-keyframes formshake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}
.app_header.webix_header{
	text-align:center;
}
.app_layout.webix_layout_clean{
	background: #EBEDF0;
}
.app_start .webix_template{
	padding:12px 12px;
}
.app_menu .webix_icon{
	font-size:20px;
	vertical-align:middle;
}
.webix_list .webix_list_item {
	display: flex;
	align-items: center;
}
.webix_list .webix_list_item img {
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border: 1px solid #151515;
	border-radius: 50%;
}
.webix_list .webix_list_item > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.webix_list .webix_list_item > div div {
	font-size: 20px;
	line-height: 20px;
}
.webix_list .webix_list_item > div span {
	font-size: 11px;
	line-height: 11px;
	margin-top: 5px;
}
.contactsTemplateUsername {
	font-weight: bold;
	font-size: 30px;
}
.contactInfo .webix_template{
	padding-top: 15px;
	display: flex;
	flex-wrap: wrap;
}
.contactInfo .contactInfoImageBlock {
	flex: 1 1 25%;
}
.contactInfo .contactInfoImageBlock img,
.contactInfo .contactInfoImageBlock div {
	width: 100%;
	min-width: 150px;
	max-width: 300px;
}
.contactInfo .contactInfoImageBlock img {
	border: 1px solid #151515;
}
.contactInfo .contactInfoImageBlock div {
	margin-top: 25px;
	text-align: center;
}
.contactInfo .contactInfoTextBlock {
	flex: 1 1 70%;
}
.contactInfo .contactInfoTextBlock ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}
.contactInfo .contactInfoTextBlock ul li {
	list-style: none;
	flex: 1 1 45%;
	margin: 15px;
	font-size: 25px;
}